

:root {
  --font-overpass: 'Overpass Mono', monospace;
  --darkgrey: #7f868c;
  --grey: #a3acb4;

  --black: #3e4042;
  --lightgrey: #e9edf3;
  --midgrey: #e0e5ec;
  --background: #ffffff;
  --foreground: #171717;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  font-family: var(--font-overpass);
}

html,
body, textarea, input{
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-overpass);
  color: var(--black);
}

input{
  font-family: var(--font-overpass);
  color: var(--black);
  font-size: 1.2rem;
  padding:5px;
  width:fit-content;

}

input::placeholder{
  color: var(--black);
}

textarea::placeholder{
    color: var(--black);
}

textarea{
  color: var(--black);
}

body {
  color: var(--black);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

input[type="file"] {
  display: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
