

                                                                                                                                                                                                                                                           :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body, textarea, input{
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-overpass);

}

input{
    font-family: var(--font-overpass);
  font-size: 1.2rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="file"] {
  display: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
