.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  left: 50px;
  width: 5vw;
  height: 50vh;
  background-color: #f4f5f7;
  color: slategrey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 16px;

}

.imageUpload {
  width:100%;
  text-decoration: none;
  display: block;
}

.sidebar a:hover {
  background-color: #575757;
}

.canvas{
  top: 10px;
  left:0;
    right:0;
    bottom:0;
    margin:auto;
  z-index:-1;
}

.canvasWrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.axesContainer {
  position: relative;
  width: 600px;
  height: 600px;
}

.axisLabel {
  width: 150px;
  text-align: center;

}

.uploadedImage {


}


.canvas {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  border: 0.5px solid #ccc;
}

.inputfile {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}
.nondrag{
  -webkit-user-drag: none;

}

.draggableInput {
  display: flex;
  gap: 8px;
  cursor: pointer;
  padding: 8px;
}

.label{
  position: absolute;
    width: 150px;
    min-height: 80px;
    border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-right: 8px;
  padding-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.label:hover{

}


.labelInput{

  background: transparent;
  min-width:100%;
  max-width:100%;
  min-height:50px;
  height:fit-content;
  resize: both;
  overflow-y: visible;
  overflow-block: visible;
  border:none;
  border-radius: 8px;
  outline:none;
  padding:5px;

}


.draggy{

  width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
    cursor: grab;
  padding: 8px;
}

.draggy:hover{
  border-top: 2px solid #ccc;

}

.deleteButton{
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 100px;
  width:14px;
  height:14px;
  font-size:10px;
  background-color: transparent;
  color: #ccc;
  cursor: grab;
  justify-self: center;
  vertical-align: center;

}

.deleteButton:hover{
  align-items: center;
  justify-content: space-between;
  border: 1px solid crimson;
  border-radius: 100px;
  width:14px;
  height:14px;
  font-size:10px;
  background-color: transparent;
  color:crimson;
  cursor: grab;
  justify-self: center;
  vertical-align: center;
}

.upload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}



@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

}
