.main {
  min-height: 100vh;
  width: 100vw;
  gap: 16px;
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  position:relative;
  overflow:hidden;

}

.sidebar{
    position: absolute;
    top: 50px;
    left:50px;
    width: 20%;
    height:100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tools {
  position: absolute;
  top: 40%;
  left:50px;
  width: 20%;
  height:100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 16px;

}
.users{
  position:fixed;
  top:0;
    left:50px;
  width:10vw;
  height:50vh;
    background-color: #f4f5f7;
    color: slategrey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 16px;
}

/*.imageUpload {*/
/*  width:100%;*/
/*  display: block;*/
/*  padding: 0;*/
/*  justify-content: center;*/
/*    align-items: center;*/
/*  align-self:center;*/
/*}*/


.customFileUpload{
  cursor:pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: #e8e9eb;
}

.customFileUpload:hover{
  background-color: #ccc;

}

.sidebar a:hover {
  background-color: #575757;
}

.canvas{
  top: 10px;
  left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.canvasWrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 0;
}

.axesContainer {
  position: relative;
  width: 600px;
  height: 600px;
}

.axisLabel {
  min-width: 100px;
  max-width: fit-content;
  text-align: center;

}

.uploadedImage {


}


.canvas {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  border: 0.5px solid #ccc;
}

.inputfile {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}
.nondrag{
  -webkit-user-drag: none;

}

.draggableInput {
  display: flex;
  gap: 8px;
  cursor: pointer;
  padding: 8px;
}

.label{
  position: absolute;
    width: 150px;
    min-height: 80px;
    border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-right: 8px;
  padding-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.label:hover{

}


.labelInput{
  background: transparent;
  min-width:100%;
  max-width:100%;
  min-height:50px;
  height:fit-content;
  resize: both;
  overflow-y: visible;
  overflow: visible;
  overflow-block: visible;
  border:none;
  border-radius: 8px;
  outline:none;
  padding:5px;

}


.draggy{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  cursor: grab;
  padding: 8px;
}

.draggy:hover{
  border-top: 2px solid #ccc;

}

.deleteButton{
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 100px;
  width:16px;
  height:16px;
  font-size:12px;
  background-color: transparent;
  color: #ccc;
  cursor: grab;
  justify-self: center;
  vertical-align: center;

}

.deleteButton:hover{
  border: 1px solid crimson;
  color:crimson;
}

.imgDrag{
  padding-top:8px;
}

.imgDeleteButton{
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 100px;
  width:16px;
  height:16px;
  font-size:12px;
  background-color: transparent;
  color: #ccc;
  cursor: grab;
  justify-self: center;
  vertical-align: center;

}

.imgDeleteButton:hover{
  border: 1px solid crimson;
  color:crimson;
}

.upload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}




@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

}
