.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.toolbar {
  width:70%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 8px 16px;
  background: lavenderblush;
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 10px 10px;
  z-index: 2;
}

.canvasWrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.axesContainer {
  position: relative;
  width: 600px;
  height: 600px;
}

.axisLabel {
  width: 80px;
  text-align: center;
}

.uploadedImage {
  position:absolute;
  top:0;
  z-index: 10;
}


.canvas {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  border: 0.5px solid #ccc;
}

.inputfile {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}
.nondrag{
  -webkit-user-drag: none;

}

.draggableInput {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.upload{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
